


body {
    font-family: 'Anaheim';
    font-size: 16px;
    max-width: 100vw;
}
p{
	font-size: 138%;
}
div {
	max-width: 80vw;
	padding: 20px;
}
.center{
	width: 500px;
	margin: auto;
}
.button{
	cursor: pointer;
	font-family: 'Anaheim';
	text-decoration: none;
	background-color: #555555;
	border: none;
    color: white;
    font-size: 100%;
    padding: 0px 5px;
    margin: 4px 4px;
}
a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}