


body {
    font-family: 'Anaheim';font-size: 16px;
}
p{
	font-size: 138%;
}
div {
	width: 500px;
	max-width: 50%;
	padding: 20px;
}
.center{
	margin: auto;
}

html{
	font-size:110%;
} 

@media(min-width:60em){
	html{font-size: 20%}
}